.swap{
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 2rem;
    display: flex;
    justify-content:space-around;
}
.swap .s-left{
    
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;

    
}
.swap .s-left >:nth-child(1){
    font-size: 3rem;
    text-transform: uppercase;
    display: block;
    width:20rem;
    font-weight: bold;
    
}
.swap .s-left >:nth-child(2){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    width:20rem;
    
}
.swap .s-left >:nth-child(3){
    font-size: 1.5rem;
    text-transform: lowercase;
    display: block;
    width:20rem;
    
}
.s-wrapper{
    width: 30rem;
}

