.s-swap{
    margin-top: 8rem;
    margin-bottom: 6rem;
    padding: 2rem;
    display: flex;
    justify-content:space-around;
}
.s-swap .s-left{
    
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;

    
}
.s-swap .s-left >:nth-child(1){
    font-size: 3rem;
    text-transform: uppercase;
    display: block;
    width:20rem;
    font-weight: bold;
    
}
.s-swap .s-left >:nth-child(2){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    width:20rem;
    
}
.s-swap .s-left >:nth-child(3){
    font-size: 1.5rem;
    text-transform: lowercase;
    display: block;
    width:20rem;
    
}
.s-wrapper{
    width: 30rem;
}

@media only screen and (max-width:700px)
{

    .s-swap{
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 2rem;
        display: flex;
        justify-content:space-around;
    }
    
    .s-swap{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .s-swap .s-left{
        align-items: center;
        gap: 1rem;
    }
    .s-swap .s-left >:nth-child(1){
        font-size: 2rem;
        text-transform: uppercase;
        display: block;
        width:20rem;
        font-weight: bold;
        
    }
    .s-swap .s-left >:nth-child(2){
        font-size: 1.5rem;
        text-transform: uppercase;
        display: block;
        width:20rem;
        
    }
    .s-swap .s-left >:nth-child(3){
        font-size: 1rem;
        text-transform: lowercase;
        display: block;
        width:20rem;
        
    }
    .s-wrapper{
        width: 20rem;
    }
}

