
.h_container{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* width: auto;
    height:80%; */
}
.h_wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.h_wrapper>img{
    width: 15rem;
    position: absolute;
    top: 40%;
}


.h_sides{
    padding-top: 20%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    
}

.h_text1{
    font-size: 2rem;
    font-weight: 400;
   
    display: block;
    width: min-content;
    
    
    
}
.h_text2{
    font-size: 1.5rem;
    font-weight: 300;
    flex-direction:column;
    gap: 0.5rem;
    display: flex;
    width: min-content;

        
}
.h_text2>:first-child{
    
    font-weight: 500;
    font-size: 2.5rem;
    
}

.t3{
    font-size: 2rem;
    font-weight: 400;
    gap: 3rem;
    
}
