
.h_container{
    padding: 0rem 2rem;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: auto;
    height: 55vh;
    background-color: rgb(255, 255, 255);
}
.h_wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.h_wrapper>img{
    width: 15rem;
    top: 18%;
    position: relative;
}


.h_sides{
    padding-top: 20%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    
}

.h_text1{
    font-size: 2rem;
    font-weight: 400;
   
    display: block;
    width: min-content;
    
    
    
}
.h_text2{
    font-size: 1.5rem;
    font-weight: 300;
    flex-direction:row;
    gap: 0.5rem;
    display: flex;
    width: min-content;

        
}
.h_text2>:first-child{
    
    font-weight: 500;
    font-size: 2.5rem;
    
}

.t3{
    font-size: 2rem;
    font-weight: 400;
    gap: 3rem;
    
}

@media only screen and (max-width:1024px) {

    .h_wrapper>img{
        width: 13rem;
        top: 20%;
        right: 14%;
        position:fixed;
    }
    .t3{
      visibility: hidden;
        
    }
    
}

@media only screen and (max-width:700px) {

    .h_wrapper>img{
        width: 10rem;
        top: 15%;
        right: 7%;
        position:fixed;
    }
    .t3{
      visibility: hidden;
        
    }
    
}