

navheader{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content:end;
  align-items: center;
  height: 80px;
  padding: 0 2rem;
  background-color: #5757577d;
 
}


nav a{
 
  font-size: 1.0rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  

 
}

nav a:hover{
 
  color: rgb(32, 147, 38);
}

navheader .nav-btn{
  padding: 5px;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  /* color: black; */
  visibility: hidden;
  /* opacity: 0; */
}
  
  @media only screen and (max-width:1024px) {
    navheader{
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content:center;
      align-items: center;
      height: 70px;
      padding: 0 2rem;
      background-color: #8989897a;
     
    }
    
    
    nav a{
     
      font-size: 0.8rem;
      color: rgb(0, 0, 0);
      text-decoration: none;
      padding: 0.5rem 1rem;
      
    
     
    }
    
    nav a:hover{
     
      color: rgb(32, 147, 38);
    }
   
  }

  @media only screen and (max-width:550px) {
    navheader .nav-btn{
      visibility: visible;
      opacity: 1;
    }
  
    navheader nav{
      position: fixed;
      top: 70px;
      left: 0;
      display: flex;
      height: 50%;
      width: 60%;
      align-items: center;
      justify-content:center;
      background-color: #fff;
      gap: 0.5rem;
      transform: translateX(-100vh);
      
    
    }
    navheader .responsive_nav{
      transform:none;
      flex-direction: column;
    }
  }