/* NavigationBar.css */

.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.navbar-toggler {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.navbar-toggler-icon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #d2d0d0;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.navbar-item {
  margin-right: 10px;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 40%;
    z-index: 1;
  }

  .navbar-list.open {
    display: flex;
  }

  .navbar-item {
    margin: 5px 0;
  }
}


