.s_container 
  {
    /* padding-left: 10%; */
    padding-top: 0%;
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
  }
  
  .swiper {
    width: 100%;
    height: 80%;
  }
  
  .slide-image {
    padding-left: 30%;
    width: 40%;
    height:180px;
    /* object-fit: cover;  */
    
  }
  
  .slide-description {
     
    text-align:left;
    padding-left: 40%;
    
  }
  
  @media only screen and (max-width:1024px) {
   
    .s_container 
  {
    /* padding-left: 10%; */
    padding-top: 6%;
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
  }
    
    .swiper {
      width: 80%;
      height: 80%;
    }
  
    .slide-image {
      width: 70%;
      height:50%;
      /* object-fit: cover;  */
      
    }
    
    .slide-description {
       
      text-align:left;
      padding-left: 15%;
    }
  }