.s_container 
  {
    /* padding-left: 10%; */
    padding-top: 0%;
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
  }
  
  .swiper {
    width: 100%;
    height: 80%;
  }
  
  .slide-image {
    width: 50%;
    height:50%;
    /* object-fit: cover;  */
    
  }
  
  .slide-description {
     
    text-align:left;
    padding-left: 15%;
  }
  
